html {
    /* height: 100%; */
    background-image: linear-gradient(#FC5E55 ,#FA4083);
}

body {
    background-image: url(images/image-lion-background.png);
    
    background-position: top center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    color:white;
    font-size: 1.125rem;
}

.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header, main, .main2,.cards, .testimonials{
    padding: 0px 60px;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
}

.navbutton {
    text-decoration: none;
    display: inline-block;
    font-family: 'Playfair Display', serif;
    border:1px solid white ;
    padding: 11px 25px;
    color: white;

}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}



/*contact us page*/
.main2 {
    min-height: 300px;
    padding-top: 50px;
}
.inputwrapper {
    margin-bottom: 30px;
}

input[type=text], input[type=email], textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 20px;
    font-size: 0.85rem;
}

.newline {
    display: block;
    margin-bottom: 20px;
}

input[type="radio"] {
    margin-right: 50px;
}

form {
    margin: 40px 0px;
}
/*contact us page end*/



.herobox1 {
    flex:2;
    /*padding-right: 100px;*/
    margin-right: 100px;
}

.mybutton {
    text-decoration: none;
    color: #FB467B;
    background-color: white;
    font-family: 'Playfair Display', serif;
    padding: 11px 25px; /*top,bottom / right,left*/
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 2x;
    /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.250); */
}

.mybutton:hover {
    background-color: #ffffff8c ;
    color:#FB467B;
    transition: 0.5s;
}

h1 {
    font-size: 3.25rem;
    font-family: 'Playfair Display', serif;
    padding-bottom: 1rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.250);
}

p {
    line-height: 1.75rem;
    padding-bottom: 0.5rem;
    /*margin-bottom:0.5rem*/
}

.herobox2 {
    flex:1;
}


h2 {
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    padding-top: 20px;
}

.cards {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.card1, .card2, .card3 {
    padding: 30px 30px 20px 30px;
    box-sizing: border-box;
}

.cards p {
    font-size: 0.85rem;
    line-height: 1.2rem;
    margin-top: 10px /*30px 20px 30px*/;
}

.card1 {
    background-image: url(images/image-background-card1.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 300px;
    width: 30%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.250);
}
.card2 {
    background-image: url(images/image-background-card2.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.250);
}
.card3 {
    background-image: url(images/image-background-card3.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 300px;
    width: 30%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.250);
}

.cards i {
    font-size: 100px;
    /* padding-top: 30px */;
}

.cards a {
    color: white;
    text-decoration: none;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 100px;
}

.tbox {
    width: 47%;
    padding: 50px;
    border: 1px solid white;
    box-sizing: border-box;
    margin-top: 65px;
}

.tbox p:last-of-type {
    font-size: 0.8rem;
    padding-left:30px;
}


@media (max-width: 768px) { 
    body {
        background-image: none;
    }
}

@media (max-width: 568px) { 
    body {
        background-image: none;
    }
    main{
        flex-direction: column;
    }
    .herobox2{
        display: none;
    }
    .tbox{
        min-width: 100%;

    }
}