/* ~ Global view - desktop ~ */
.container {
    background-color:rgb(18, 116, 75);
    max-width: 1024px;
    min-height: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1 {
    font-family: serif;
    color: floralwhite;
    font-size: 25px;
    padding: 25px 0px 0px 25px;
}

.col {
    width: 30%;
    /* min-height: 200px; */
    margin-bottom: 40px;
}

.col img {
    width: 100%;
    height: auto;
}

.hide-desktop-only {
    display: none;
}


/* ~ Tablet view ~*/
@media (max-width:768px) {
    .col {
        width: 45%;
    }

    .hide-tablet-only {
        display: block;
    }
}

/* ~ Mobile view ~ */
@media (max-width:600px) {
    .col {
        width: 100%;
    }

    .hide-mobile {
        display: none;
    }
}